* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    font-family: Calibri, sans-serif, Helvetica;
    font-size: 16px;
}

a{
    text-decoration: none;
}

.contenedor {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 10% 82% 8%;
    
}

/*---------- header ----------*/

.header {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header .logo-header {
    width: 18%;
}

.header img {
    width: 100%;
}

.header .menu-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header .menu-enlace {
    margin: 0 20px;
    color: #184c99;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
}

.header .menu-enlace:hover {
    border-bottom: 2px solid #184c99;
}

/*---------- main ----------*/

.main {
    background-color: #f2f2f2;
    grid-column: 2 / span 2;
    grid-row: 2;
}

.main .contenedor-main {
    margin: 20px 20px 80px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main .contenedor-terminologia {
    margin: 20px 20px 80px 20px;

    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0 20px 20px 20px;
}

.main .contenedor-actividades {
    margin: 20px 20px 80px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0 20px 20px 20px;
}

.main .texto{
    width: 50%;
}

.main .etiqueta-pequena {
    width: 8%;
}

.main .etiqueta {
    height: 50px;
}

.main p {
    text-align: justify;
    font-size: 0.9em;
    line-height: 25px;
}

.main .titulo {
    color: #184c99;
}

.main .cita {
    display: inline-block;
    font-size: 0.8em;
}

.main .video-presentacion {
    width: 450px;
    height: 300px;
}

.main .imagen-estructura {
    width: 500px;
}

.main .imagen-estructura-nav{
    width: 400px;
}

.main .estructura {
    width: 100%;
}

.main h3{
    text-align: center;
    font-size: 0.9em;
}

.main .video-estructura{
    width: 600px;
    height: 300px;
}

.main .actividades{
    width: 1000px;
    height: 400px;
    
}

.main .definicion {
    width: 100%;
    height: 100%;
}



/*---------- aside ----------*/

.aside {
    background-color: #fff;
    border-right: 1px solid #ccc;
    grid-column: 1 / span 1;
}

.aside .aside-titulo {
    width: 70%;
    margin: auto;
    margin-bottom: 0;
}

.aside .titulo {
    color: #d89034;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.aside .aside-ul {
    list-style: none;
    margin-top: 0;
    padding: 20px;
}

.aside .aside-li {
    padding: 20px 0;
}

.aside .aside-enlace {
    text-decoration: none;
    color: #184c99;
    margin: 0 0 0 10px;
}

.aside .navegacion {
    margin: 100px;
}

/*---------- footer ----------*/

.footer {
    width: 100%;
    padding: 5px;
    background-color: #1e2b38;
    grid-column: 1 / span 3;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer .creditos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .creditos .logo-footer {
    width: 60px;
    margin-right: 20px;
}

.footer img {
    width: 100%;
}

.footer .nombre p {
    color: #fff;
    font-size: 0.9em;
}



.footer a{
    color: #fff;
}

.footer .twitter{
    padding: 10px;
    color:#fff;
    display: block;
    border-radius: 3px;
    font-size: 0.9em;
}

.footer .widget a:hover{
    background-color: #1da1f2;
}

.footer .autor:hover{
    text-decoration: underline;
}

/*---------- Responsive --------*/

@media screen and (max-width:900px) {
    body {
        background-color: #f2f2f2;
    }
    .contenedor {
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 70% 10%;
    }
    .header {
        grid-column: 1 / span 1;
    }
    .header .logo-header {
        width: 25%;
    }
    .aside {
        margin: 10px 20px 0 20px;
        grid-column: 1 / span 1;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #ccc;
    }
    .aside .aside-titulo {
        width: 0;
        margin: 0;
    }
    .aside .titulo {
        border-bottom: 0px solid #ccc;
        padding: 0;
    }
    .aside .aside-ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .aside .aside-enlace {
        margin: 0 20px;
    }
    .aside span {
        display: none;
    }
    .main {
        grid-column: 1 / span 1;
        grid-row: 3;
    }
    .footer {
        grid-column: 1 / span 1;
        grid-row: 4;
    }
}

@media screen and (max-width:800px) {
    .contenedor {
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 70% 10%;
    }
   
}

@media screen and (max-width:600px) {
    .contenedor {
        grid-template-columns: 100%;
        grid-template-rows: 15% 8% 70% 7%;
    }
    .header {
        flex-direction: column;
    }
    .header .logo-header {
        margin-top: 10px;
    }
    .header .menu-enlace {
        font-size: 10px;
    }
    .aside .aside-titulo {
        display: none;
    }
    .footer .logo-footer {
        width: 40px;
    }
    .footer .nombre {
        display: none;
    }
}